.grid{
    margin-top: 10px;
    margin-left: 80px;
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(244, 247, 236);
    border:solid;


}
body{
    background-color: rgb(77, 207, 240);
}
#control{
    margin-left: 100px;
    position: absolute;
    margin-top: 470px;
    font-family: Impact fantasy;

}
#title{
    position: absolute;
    margin-left: 310px;
    margin-top: 150px;
    font-size: 5vmax;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
    .design{
    border-radius: 10px ;
    margin-left: 15px;
}
h3{
    margin-left: 150px;
    position: absolute;
    margin-top: 470px;
    font-family: Impact, fantasy;
    
}
#start-button{
    margin-left: 140px;
    border-radius:10px ;
    font-family:fantasy;
}
.grid div{
    height: 20px;
    width: 20px;
    
}   
.orange{
    background-color:rgb(238, 86, 48);
    

}  
    

